/Logs/
/obj/
/Packages/
/ProjectSettings/
/Temp/
/UserSettings/
/.vs/
.vsconfig
Assembly-*
/Library/
CastleMania.sln
/Assets/Feel/
/Assets/Feel.*
Lofelt*
MoreMountains*
/Assets/PolygonParticleFX
/Assets/Universal Sound FX/
/Assets/"Universal Sound FX.meta"
/Assest/*.meta
/Asses/'TextMesh Pro'/
/Asses/TextMesh Pro/*
Assets/Universal Sound FX.meta
